/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.2.2020, 11:17:12
    Author     : risberg
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27.2.2020, 10:42:16
    Author     : risberg
*/
/*
    Created on : 27.2.2020, 11:12:04
    Author     : risberg
*/
.tooltip {
  position: relative;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: khaki;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 31.25em) and (max-width: 43.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 43.5em) and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 62,5%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.0; }

pre {
  display: inline; }

table, th, td {
  border: 1px solid black; }

/*
    Created on : 27.2.2020, 12:17:55
    Author     : risberg
*/
.dtable {
  margin: 1rem;
  padding: 0.01em; }
  .dtable__root {
    width: 100%;
    border-collapse: collapse; }
    .dtable__root__caption {
      color: white;
      background-color: tomato; }
  .dtable__header {
    border: 1px solid lightgrey;
    text-align: left; }
    .dtable__header__cell {
      border: 1px solid lightgrey;
      padding: 0.8rem;
      cursor: pointer; }
  .dtable__body__row__cell {
    border: 1px solid lightgrey;
    padding: 0.8rem; }
  .dtable__body:nth-child(odd) {
    background-color: whitesmoke; }

/*
    Created on : 28.2.2020, 12:53:40
    Author     : risberg
*/
.header {
  background-color: teal;
  font-size: 8rem;
  display: flex;
  justify-content: space-evenly; }
  .header__text-1 {
    color: whitesmoke; }
  .header__text-2 {
    color: yellowgreen; }
