.disc-table {
	background-color: $color-pri;
	box-shadow: 0 0 8px $color-pri;
	&__header {
		padding: 1rem;
		//background-color: $color-sec;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__text {
			display: inline-block;
			margin-right: 1rem;
			color: whitesmoke;
			font-size: 4rem;
			font-family: serif;
		}
		&__button {
			display: inline-block;
		}
	}
	&__content {
		display: flex;
		justify-content: center;
		padding: 1rem;
		//font-size: 1.8rem;
		font-size: 1.4rem;
	}
}
.react-table {
	border: 1px solid blue;
	&__caption {
		background-color: $color-sec;
		color: whitesmoke;
		font-size: 1.6rem;
	}
	&__thead {}
	&__tr {}
	&__th {
		//border-bottom: 3px solid red;
		background-color: $color-quad;
		color: whitesmoke;
		font-weight: bold;
	}
	&__body {
		&__tr {}
		&__td {
			padding: 10px;
			border: 1px solid gray;
			background-color: whitesmoke;
			color: $color-pri;
		}
	}
}